# Core
streamlit==1.37.0
yfinance==0.2.44
pandas==2.2.2
numpy==1.26.4
requests
pandas_ta==0.4.3b0
plotly==5.24.0
beautifulsoup4
lxml

# Optional visual enhancements
matplotlib
seaborn

# Optional ML/Fundamental enhancement
scikit-learn

# For date and time utilities
python-dateutil
