# Core
streamlit
yfinance
pandas
numpy
requests
pandas_ta
plotly
beautifulsoup4
lxml

# Optional visual enhancements
matplotlib
seaborn

# Optional ML/Fundamental enhancement
scikit-learn

# For date and time utilities
python-dateutil
