# Core dependencies
streamlit==1.31.0
yfinance==0.2.44
pandas==2.2.2
numpy==1.26.4
requests
pandas_ta
plotly==5.22.0
beautifulsoup4
lxml

# Optional visual enhancements
matplotlib
seaborn

# Optional ML/Fundamental enhancement
scikit-learn

# Date and time utilities
python-dateutil
